<div class="card shadow d-inline-flex">
  <div class="card-body">
    <% if @user.present? %>
      <h2 class="card-title">User ID: <%= @user.id %></h2>
      <h3 class="card-subtitle mb-2 text-muted"><%= @user.name %></h3>
      <%= link_to 'Logout', session_path, class: 'btn btn-primary', method: :delete %>
    <% else %>
      <h2 class="card-title">Not logged in.</h2>
      <%= link_to 'Login', session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
