<h1>Current User</h1>
<div id="user_container">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(evt) {
  fetch('user/delayed').then(response => response.text()).then(html => {
    const container = document.getElementById("user_container");
    container.innerHTML = html;
  });
}, false);
</script>
