<div class="container shadow p-4">
  <% if user.errors.present? %>
    <div class="alert alert-danger" role="alert">
      <% user.errors.full_messages.each do |message| %>
        <%= content_tag :li, message %>
      <% end %> 
    </div>
  <% end %>
  <%= form_for [:admin, user] do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Signup', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
