<div class="container p-4">
  <ul class="list-group">
    <% @users.each do |user| %>
        <%= content_tag :li, user.name, class: 'list-group-item' %>
    <% end %>
  </ul>
  <%= link_to "Add", new_admin_user_path, class: 'btn btn-primary' %>
</div>
